#CG-notification {
  position: fixed;
  display: none;
  left: 32px;
  top: 32px;
  z-index: 65535;
}

#CG-notification[active] {
  display: flow-root;
  width: 256px;
  max-height: 100%;
}

#CG-notification[active] > .message {
  width: 256px;
  display: block;
  overflow: hidden;
  animation: notify 5s linear 1 forwards;
  color: white;
}

#CG-notification[active] > .message > div {
  background: rgba(0, 0, 0, 0.75);
  border: solid rgba(0, 0, 0, 0.5);
}

#CG-notification[active] > .message .notiTitle {
  border-width: 3px 3px 0 3px;
  font-weight: bold;
  font-size: 16px;
}

#CG-notification[active] > .message .notiMsg {
  border-width: 0 3px 3px 3px;
  font-weight: normal;
}

#CG-notification[active] > .message::before {
  content: "";
  display: block;
  height: 16px;
  width: 100%;
}

.ComicGrabber {
  box-sizing: border-box !important;
  max-width: 100vw;
  height: 32px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}

.ComicGrabber * {
  box-sizing: border-box !important;
  float: left;
  color: white;
  display: flex;
}

.ComicGrabber.CG-menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 65535;
}

.ComicGrabber.CG-menu .CG-list {
  padding: 4px;
  height: 32px;
  line-height: 26px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item {
  margin: 0 4px 0 4px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item * {
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.75);
  height: 24px;
  border: 0;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-label {
  border-radius: 16px 0 0 16px;
  font-weight: bold;
  padding: 0 0 0 4px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-label * {
  display: ruby;
  border-radius: 16px 0 0 16px;
  font-weight: bold;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-text {
  border-radius: 0 16px 16px 0;
  font-weight: normal;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-text * {
  border-radius: 0 16px 16px 0;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: normal;
  padding: 0 0 0 4px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-text #episode {
  width: 96px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-text #title {
  width: 256px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon {
  position: relative;
  margin: -4px 0 0 0;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon > .images {
  background: rgba(0, 0, 0, 0);
  background-image: url("/ui/lime-icon.png");
  height: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon > .CG-rotate {
  animation: circulation 5s linear 0s infinite forwards;
  animation-play-state: paused;
  transform-origin: 50% 50%;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon > .CG-rotate.circle {
  background-position: -64px 0;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon > .CG-static.download {
  background-position: 0 0;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon > .CG-static.move {
  background-position: -32px 0;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon > .CG-static.category {
  background-position: -96px 0;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon > .CG-static.includeTitle {
  background-position: -128px 0;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon > .CG-static.autoRename {
  background-position: -160px 0;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active] > .CG-rotate {
  animation-play-state: running;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active] > .CG-rotate.circle {
  background-position: -64px -32px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active] > .CG-static.download {
  background-position: 0 -32px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active] > .CG-static.move {
  background-position: -32px -32px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active] > .CG-static.category {
  background-position: -96px -32px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active] > .CG-static.includeTitle {
  background-position: -128px -32px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active] > .CG-static.autoRename {
  background-position: -160px -32px;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active]#saveToLocal {
  position: relative;
}

.ComicGrabber.CG-menu .CG-list > .CG-item .CG-icon[active]#saveToLocal::before {
  content: "";
  position: absolute;
  border-radius: 16px;
  background-color: #108cc5;
  animation: onWorking 3s ease-out infinite;
  z-index: 65535;
}

.ComicGrabber > .CG-moveChapter {
  height: 32px;
  width: 32px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url("/ui/button.png");
  background-size: cover;
}

.ComicGrabber > .CG-moveChapter#movePrev {
  transform: rotate(180deg);
}

.ComicGrabber > .CG-moveChapter#moveNext {
  transform: rotate(0deg);
}

body > .CG-selector-marker {
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  z-index: 65535;
}

body .CG-selected {
  box-shadow: 0 0 16px 8px rgba(204, 181, 105, 0.5), 0 0 16px 8px rgba(255, 58, 212, 0.75) !important;
}

body.CG-selector-active .CG-selectable {
  box-shadow: 0 0 16px 8px rgba(145, 105, 204, 0.5), 0 0 16px 8px rgba(58, 255, 200, 0.75);
  z-index: 32767;
}

@keyframes circulation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes notify {
  0% {
    max-height: 0;
  }
  25% {
    max-height: 128px;
  }
  75% {
    max-height: 128px;
  }
  95% {
    max-height: 0;
  }
  100% {
    max-height: 0;
  }
}

@keyframes onWorking {
  0% {
    width: 32px;
    height: 32px;
    top: 16px;
    left: 16px;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  25% {
    width: 32px;
    height: 32px;
    top: 16px;
    left: 16px;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  60% {
    width: 50%;
    height: 50%;
    top: 16px-5px;
    left: 16px;
    border-radius: 16px;
    transform: translate(-50%, -50%);
  }
  95% {
    opacity: 1;
  }
  100% {
    width: 25%;
    height: 25%;
    top: 16px5px;
    left: 16px;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */