$transparent: rgba( 0, 0, 0, 0 );
$black-50: rgba( 0, 0, 0, 0.5 );
$black-75: rgba( 0, 0, 0, 0.75 );
$white-10: rgba( 255, 255, 255, 0.1 );
$white-80: rgba( 255, 255, 255, 0.8 );
$grey-80: rgba( 64, 64, 64, 0.8 );
$green: rgba( 0, 255, 0, 0.9 );
$skyblue: rgba( 16, 140, 197, 1 );
$height-ListItem: 24px;
$letterSize: 16px;
$border: 16px;
$block: 32px;
$hblock: #{ $block / 2 };
$qblock: #{ $block / 4 };
$hqblock: #{ $block / 8 };
$notiBoxHeight: 196px;
$notiBoxBorder: 1px;
$notiBoxShadow: 0 0 $qblock $qblock $black-75;
$noShadow: 0 0 0 0 $transparent;

#CG-notification {
    position: fixed;
    display: none;
    left: $block;
    top: $block;
    z-index: 65535;
    &[active] {
        display: flow-root;
        width: 256px;
        max-height: 100%;
        > .CG-message {
            margin: $hblock 0 0 0;
            width: 256px;
            display: block;
            overflow: hidden;
            animation: notify 5s linear 1 forwards;
            box-shadow: $notiBoxShadow;
            border-radius: $hqblock;
            color: white;
            > div {
                background: $black-75;
                border: solid $black-50;
            }
            .notiTitle {
                border-radius: $hqblock $hqblock 0 0;
                border-width: $notiBoxBorder $notiBoxBorder 0 $notiBoxBorder;
                font-weight: bold;
                font-size: $letterSize;
            }
            .notiMsg {
                border-radius: 0 0 $hqblock $hqblock;
                border-width: 0 $notiBoxBorder $notiBoxBorder $notiBoxBorder;
                font-weight: normal;
                img {
                    max-width: 256px;
                    max-height: #{$notiBoxHeight - 46px};
                    position: relative;
                    left: 50%;
                    transform: translate( -50%, 0 );
                }
            }
        }
    }
}

.ComicGrabber {
    box-sizing: border-box !important;
    max-width: 100vw;
    height: $block;
    border-radius: $border;
    background: $black-50;
    display: flex;
    * {
        box-sizing: border-box !important;
        float: left;
        color: white;
        display: flex;
    }
    &.CG-menu {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX( -50% );
        z-index: 65535;
        .CG-list {
            padding: 4px;
            height: $block;
            line-height: 26px;
            > .CG-item {
                margin: 0 $hqblock 0 $hqblock;
                * {
                    border-radius: $border;
                    background: $black-75;
                    height: 24px;
                    border: 0;
                }
                .CG-label {
                    border-radius: $border 0 0 $border;
                    font-weight: bold;
                    padding: 0 0 0 $hqblock;
                    * {
                        display: ruby;
                        border-radius: $border 0 0 $border;
                        font-weight: bold;
                    }
                }
                .CG-text {
                    border-radius: 0 $border $border 0;
                    font-weight: normal;
                    * {
                        border-radius: 0 $border $border 0;
                        background-color: $white-10;
                        font-weight: normal;
                        padding: 0 0 0 $hqblock;
                    }
                    #episode {
                        width: 96px;
                    }
                    #title {
                        width: 256px;
                    }
                }
                .CG-icon {
                    position: relative;
                    margin: -4px 0 0 0;
                    height: $block;
                    width: $block;
                    border-radius: $border;
                    > .images {
                        background: $transparent;
                        background-image: url( "/ui/lime-icon.png" );
                        height: $block;
                        width: $block;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    > .CG-rotate {
                        animation: circulation 5s linear 0s infinite forwards;
                        animation-play-state: paused;
                        transform-origin: 50% 50%;
                        &.circle {
                            background-position: -64px 0;
                        }
                    }
                    > .CG-static {
                        &.download {
                            background-position: 0 0;
                        }
                        &.move {
                            background-position: -32px 0;
                        }
                        &.category {
                            background-position: -96px 0;
                        }
                        &.includeTitle {
                            background-position: -128px 0;
                        }
                        &.autoRename {
                            background-position: -160px 0;
                        }
                    }
                    &[active] {
                        > .CG-rotate {
                            animation-play-state: running;
                            &.circle {
                                background-position: -64px -32px;
                            }
                        }
                        > .CG-static {
                            &.download {
                                background-position: 0 -32px;;
                            }
                            &.move {
                                background-position: -32px -32px;;
                            }
                            &.category {
                                background-position: -96px -32px;;
                            }
                            &.includeTitle {
                                background-position: -128px -32px;;
                            }
                            &.autoRename {
                                background-position: -160px -32px;;
                            }
                        }
                        &#saveToLocal {
                            //color: $transparent;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                border-radius: $border;
                                background-color: $skyblue;
                                animation: onWorking 3s ease-out infinite;
                                z-index: 65535;
                            }
                        }
                    }
                }
            }
        }
    }
    >.CG-moveChapter {
        height: $block;
        width: $block;
        overflow: hidden;
        color: $transparent;
        background-repeat: no-repeat;
        background-image: url( "/ui/button.png" );
        background-size: cover;
        &#movePrev {
            transform: rotate( 180deg );
        }
        &#moveNext {
            transform: rotate( 0deg );
        }
    }
}

#CG-selection-helper {
    display: none;
}

body {
    > .CG-selector-marker {
        position: absolute;
        width: $block;
        height: $block;
        background: $black-50;
        color: white;
        font-size: $hblock;
        text-align: center;
        line-height: $block;
        z-index: 65535;
    }
    .CG-selected {
        box-shadow: 0 0 $hblock $qblock rgba(204, 181, 105, 0.5), 0 0 $hblock $qblock rgba(255, 58, 212, 0.75) !important;
    }
    &.CG-selector-active {
//        width: 100vw;
//        height: 100vh;
//        overflow: hidden;
        .CG-selectable {
            box-shadow: 0 0 $hblock $qblock rgba(145, 105, 204, 0.5), 0 0 $hblock $qblock rgba(58, 255, 200, 0.75);
            z-index: 32767;
        }
        #CG-selection-helper {
            display: block;
            width: calc( 80vw + 2px );
            height: 80vh;
            position: fixed;
            top: 50vh;
            left: 50vw;
            transform: translate( -50%, -50% );
            overflow: hidden;
            background: $grey-80;
            border-radius: $qblock;
            box-shadow: $notiBoxShadow;
            z-index: 65535;
            > div {
                height: 80vh;
                float: left;
                &.selectableImages, &.selectedImages {
                    width: 12vw;
                    > #selectAll, > #unselectAll {
                        height: $block;
                        width: 100%;
                        background-color: $white-80;
                        color: black;
                    }
                    > .imagelist {
                        height: calc( 100% - #{$block} );
                        width: 100%;
                        overflow-x: hidden;
                        overflow-y: auto;
                        > img {
                            width: calc( 12vw - #{$hqblock} * 2 - #{$hblock} );
                            min-height: 2vh;
                            box-shadow: 0 0 $hqblock $hqblock $white-80;
                            margin: $qblock $hqblock $qblock $hqblock;
                            &.showing {
                                border-radius: 50%;
                                box-shadow: 0 0 $hblock $qblock $green;
                            }
                            &.selected {
                                display: none;
                            }
                        }
                    }
                }
                &.viewer {
                    width: 56vw;
                    overflow-x: hidden;
                    overflow-y: auto;
                    border: solid $black-75;
                    border-width: 0 $notiBoxBorder 0 $notiBoxBorder;
                    #CG-canvas {
                        max-width: 56vw;
                        max-height: 80vh;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate( -50%, -50% );
                    }
                }
            }
        }
    }
}

@keyframes circulation {
    0% { transform: rotate( 0deg ); }
    25% { transform: rotate( 90deg ); }
    50% { transform: rotate( 180deg ); }
    75% { transform: rotate( 270deg ); }
    100% { transform: rotate( 360deg ); }
}

@keyframes notify {
    0% { max-height: 0; }
    25% { max-height: $notiBoxHeight; }
    75% { max-height: $notiBoxHeight; }
    95% { max-height: 0; margin: $hblock 0 0 0; box-shadow: $notiBoxShadow; }
    100% { max-height: 0; margin: 0 0 0 0; box-shadow: $noShadow; }
}

@keyframes onWorking {
    0% { width: $block; height: $block; top: $hblock; left: $hblock; border-radius: $hblock; transform: translate( -50%, -50% ); opacity: 0; }
    25% { width: $block; height: $block; top: $hblock; left: $hblock; border-radius: $hblock; transform: translate( -50%, -50% ); opacity: 1; }
    60% { width: $hblock; height: $hblock; top: #{$block / 2 - 5px}; left: $hblock; border-radius: $hblock; transform: translate( -50%, -50% ); }
    95% { opacity: 1; }
    100% { width: $qblock; height: $qblock; top: #{$block / 2 + 5px}; left: $hblock; border-radius: $hblock; transform: translate( -50%, -50% ); opacity: 0; }
}