.ComicGrabber.CG-menu, .ComicGrabber .CG-menu * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 500ms;
  font-family: 'Times New Roman', 'Malgun Gothic';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.ComicGrabber.CG-menu {
  position: fixed;
  z-index: 999999;
  bottom: 1vh;
  left: 1vw;
  max-width: 48px;
  max-height: 48px;
}

.ComicGrabber.CG-menu > .CG-list {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item {
  position: relative;
  width: calc( 256px * 1.2);
  display: flex;
  margin: 4px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item * {
  height: 24px;
  width: 100%;
  display: inline-block;
  color: white;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-label {
  width: calc( 100% * 2 / 5);
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-label > label {
  cursor: pointer;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-text {
  width: calc( 100% * 3 / 5);
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-text > input, .ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-text > select {
  caret-color: white;
  text-align: center;
  display: block;
  border-width: 0;
  border-radius: 0 8px 8px 0;
  background: rgba(0, 0, 0, 0.5);
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-row .CG-checkbox {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-row .CG-checkbox.checked {
  color: rgba(0, 255, 0, 0.9);
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-row .CG-checkbox.checked:before {
  content: "";
  width: calc( 16px / 2);
  height: 16px;
  border: solid rgba(0, 255, 0, 0.9);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transform-origin: top;
  display: inline-flex;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-row > .CG-moveChapter {
  width: 50%;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-row > .CG-moveChapter:first-child {
  border-width: 0;
  border-radius: 8px 0 0 8px;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-row > .CG-moveChapter:last-child {
  border-width: 0;
  border-radius: 0 8px 8px 0;
}

.ComicGrabber.CG-menu > .CG-list > .CG-item > .CG-row > .CG-moveChapter:hover {
  background: rgba(0, 0, 0, 0.5);
}

.ComicGrabber.CG-menu > .CG-bottom-padding, .ComicGrabber.CG-menu > .CG-menu-button {
  height: 48px;
  width: 48px;
}

.ComicGrabber.CG-menu > .CG-menu-button {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.75);
}

.ComicGrabber.CG-menu > .CG-menu-button::before {
  color: white;
  font-size: 48px;
  line-height: 48px;
  perspective-origin: 0 0;
  transform-origin: 0 0;
  content: "+";
}

.ComicGrabber.CG-menu > .CG-menu-button.CG-alert {
  transform: rotateZ(0deg) !important;
}

.ComicGrabber.CG-menu > .CG-menu-button.CG-alert::before {
  content: "!";
  color: rgba(255, 0, 0, 0.9);
}

.ComicGrabber.CG-menu > .CG-load-progress {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ComicGrabber.CG-menu:hover {
  max-height: 100vh;
  max-width: 100vw;
}

.ComicGrabber.CG-menu:hover > .CG-menu-button {
  transform: rotateZ(45deg);
}

.ComicGrabber.CG-menu:hover > .CG-list {
  max-height: 100vh;
  max-width: 100vw;
}
/*# sourceMappingURL=menu.css.map */