.ComicGrabbler.menu-CG, .ComicGrabbler .menu-CG * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 500ms;
  font-family: 'Times New Roman', 'Malgun Gothic';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.ComicGrabbler.menu-CG {
  position: fixed;
  z-index: 999999;
  bottom: 1vh;
  left: 1vw;
  max-width: 48px;
  max-height: 48px;
}

.ComicGrabbler.menu-CG > .list-CG {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG {
  position: relative;
  width: calc( 256px * 1.2);
  display: flex;
  margin: 4px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG * {
  height: 24px;
  width: 100%;
  display: inline-block;
  color: white;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .label-CG {
  width: calc( 100% * 2 / 5);
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .label-CG > label {
  cursor: pointer;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .text-CG {
  width: calc( 100% * 3 / 5);
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .text-CG > input, .ComicGrabbler.menu-CG > .list-CG > .item-CG > .text-CG > select {
  caret-color: white;
  text-align: center;
  display: block;
  border-width: 0;
  border-radius: 0 8px 8px 0;
  background: rgba(0, 0, 0, 0.5);
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .row-CG .checkbox-CG {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .row-CG .checkbox-CG.checked {
  color: lime;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .row-CG .checkbox-CG.checked:before {
  content: "";
  width: calc( 16px / 2);
  height: 16px;
  border: solid lime;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transform-origin: top;
  display: inline-flex;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .row-CG > .moveChapter-CG {
  width: 50%;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .row-CG > .moveChapter-CG:first-child {
  border-width: 0;
  border-radius: 8px 0 0 8px;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .row-CG > .moveChapter-CG:last-child {
  border-width: 0;
  border-radius: 0 8px 8px 0;
}

.ComicGrabbler.menu-CG > .list-CG > .item-CG > .row-CG > .moveChapter-CG:hover {
  background: rgba(0, 0, 0, 0.5);
}

.ComicGrabbler.menu-CG > .bottom-padding-CG, .ComicGrabbler.menu-CG > .menu-button-CG {
  height: 48px;
  width: 48px;
}

.ComicGrabbler.menu-CG > .menu-button-CG {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.75);
}

.ComicGrabbler.menu-CG > .menu-button-CG::before {
  color: white;
  font-size: 48px;
  line-height: 48px;
  perspective-origin: 0 0;
  transform-origin: 0 0;
  content: "+";
}

.ComicGrabbler.menu-CG > .menu-button-CG.alert {
  transform: rotateZ(0deg) !important;
}

.ComicGrabbler.menu-CG > .menu-button-CG.alert::before {
  content: "!";
  color: rgba(255, 0, 0, 0.9);
}

.ComicGrabbler.menu-CG > .load-progress-CG {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ComicGrabbler.menu-CG:hover {
  max-height: 100vh;
  max-width: 100vw;
}

.ComicGrabbler.menu-CG:hover > .menu-button-CG {
  transform: rotateZ(45deg);
}

.ComicGrabbler.menu-CG:hover > .list-CG {
  max-height: 100vh;
  max-width: 100vw;
}
/*# sourceMappingURL=menu.css.map */