$transparent: rgba( 0, 0, 0, 0 );
$black-50: rgba( 0, 0, 0, 0.5 );
$black-75: rgba( 0, 0, 0, 0.75 );
$white: rgba( 255, 255, 255, 1 );
$green: rgba( 0, 255, 0, 0.9 );
$square-Button: 48px;
$height-ListItem: 24px;
$letterSize: 16px;
$border: 8px;

img.emphasis[src*=blob] {
    box-sizing: border-box !important;
    animation: blinkBorder 1s infinite;
    border: $border solid;
}
@keyframes blinkBorder {
    0% {
        border-color: rgba( 0, 255, 0, 0.9 );
    }
    50% {
        border-color: rgba( 0, 0, 0, 0.75 );
    }
    100% {
        border-color: rgba( 0, 255, 0, 0.9 );
    }
}
@keyframes marqueeLeftFirst {
    0% {
        transform: translate( 0, 0 );
    }
    100% {
        transform: translate( -100%, 0 );
    }
}
@keyframes marqueeLeftSecond {
    0% {
        transform: translate( 100%, 0 );
    }
    100% {
        transform: translate( 0%, 0 );
    }
}
.ComicGrabber {
    .CG-invisible { display: none !important; }

    &.CG-menu, .CG-menu * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        transition-duration: 500ms;
        font-family: 'Times New Roman', 'Malgun Gothic';
        font-size: $letterSize;
        line-height: $height-ListItem;
        text-align: center;
    }
    
    &.CG-menu {
        position: fixed;
        z-index: 999999;
        bottom: 1vh;
        left: 1vw;
        max-width: $square-Button;
        max-height: $square-Button;
        > .CG-list {
            max-height: 0;
            max-width: 0;
            overflow: hidden;
            > .CG-item {
                position: relative;
                width: calc( 256px * 1.2 );
                display: flex;
                margin: 4px;
                border-radius: $border;
                background: $black-75;
                color: $white;
                * {
                    height: $height-ListItem;
                    width: 100%;
                    display: inline-block;
                    color: $white;
                }
                > .CG-label {
                    width: calc( 100% * 2 / 5 );
                    > label {
                        cursor: pointer;
                    }
                    &~ .CG-text {
                        width: calc( 100% * 3 / 5 );
                        > input, > select { border-radius: 0 $border $border 0; }
                    }
                }
                > .CG-text {
                    > input, > select {
                        caret-color: $white;
                        text-align: center;
                        display: block;
                        border: {
                            width: 0;
                            radius: $border;
                        }
                        background: $black-50;
                    }
                }
                > .CG-row {
                    .CG-checkbox {
                        background: $black-50;
                        border: {
                            radius: $border;
                        }
                        cursor: pointer;
                        &.checked {
                            color: $green;
                            &:before {
                                content: "";
                                width: calc( #{$letterSize} / 2 );
                                height: $letterSize;
                                border: solid $green {
                                    width: 0 3px 3px 0;
                                };
                                transform: rotate( 45deg ) {
                                    origin: top;
                                };
                                display: inline-flex;
                            }
                        }
                    }
                    > .CG-moveChapter {
                        width: 50%;
                        &:first-child {
                            border: {
                                width: 0;
                                radius: $border 0 0 $border;
                            }
                        }
                        &:last-child {
                            border: {
                                width: 0;
                                radius: 0 $border $border 0;
                            }
                        }
                        &:hover {
                            background: $black-50;
                        }
                    }
                }
                > .CG-row#filenameRuleResult {
                    position: relative;
                    overflow: hidden;
                    > label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 0 $border 0 0;
                        min-width: 100%;
                        width: max-content;
                        max-width: max-content;
                        background: linear-gradient( to right, rgba( 7, 255, 175, 1 ), rgba( 255, 179, 239, 1 ) );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        &:first-child {
                            animation: marqueeLeftFirst 5s infinite linear;
                        }
                        &:last-child {
                            animation: marqueeLeftSecond 5s infinite linear;
                        }
                    }
                }
            }
        }
        > .CG-bottom-padding, > .CG-menu-button {
            height: $square-Button;
            width: $square-Button;
        }
        > .CG-menu-button {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            background: $black-75;
            &::before {
                color: $white;
                font-size: $square-Button;
                line-height: $square-Button;
                perspective-origin: 0 0;
                transform-origin: 0 0;
                content: "+";
            }
            &.CG-alert {
                transform: rotateZ( 0deg ) !important;
                &::before {
                    content: "!";
                    color: rgba( 255, 0, 0, 0.9 );
                }
            }
        }
        > .CG-load-progress {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    
    &.CG-menu:hover {
        max-height: 100vh;
        max-width: 100vw;
        > .CG-menu-button {
            transform: rotateZ( 45deg );
        }
        > .CG-list {
            max-height: 100vh;
            max-width: 100vw;
        }
    }
}