$transparent: rgba( 0, 0, 0, 0 );
$black-50: rgba( 0, 0, 0, 0.5 );
$black-75: rgba( 0, 0, 0, 0.75 );
$white-10: rgba( 255, 255, 255, 0.1 );
$white: rgba( 255, 255, 255, 1 );
$green: rgba( 0, 255, 0, 0.9 );
$skyblue: rgba( 16, 140, 197, 1 );
$height-ListItem: 24px;
$letterSize: 16px;
$border: 16px;
$halfblock: 16px;
$block: 32px;

#CG-notification {
    position: fixed;
    display: none;
    left: $block;
    top: $block;
    z-index: 65535;
    &[active] {
        display: flow-root;
        width: 256px;
        max-height: 100%;
        > .message {
            width: 256px;
            display: block;
            overflow: hidden;
            animation: notify 5s linear 1 forwards;
            color: $white;
            > div {
                background: $black-75;
                border: solid $black-50;
            }
            .notiTitle {
                border-width: 3px 3px 0 3px;
                font-weight: bold;
                font-size: $letterSize;
            }
            .notiMsg {
                border-width: 0 3px 3px 3px;
                font-weight: normal;
            }
            &::before {
                content: "";
                display: block;
                height: 16px;
                width: 100%;
            }
        }
    }
}

.ComicGrabber {
    box-sizing: border-box !important;
    max-width: 100vw;
    height: $block;
    border-radius: $border;
    background: $black-50;
    display: table;
    * {
        box-sizing: border-box !important;
        float: left;
        color: $white;
    }
    &.CG-menu {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX( -50% );
        z-index: 65535;
        .CG-list {
            padding: 4px;
            height: $block;
            line-height: 26px;
            > .CG-item {
                margin: 0 4px 0 4px;
                * {
                    border-radius: $border;
                    background: $black-75;
                    height: 24px;
                    border: 0;
                }
                .CG-label {
                    border-radius: $border 0 0 $border;
                    font-weight: bold;
                    padding: 0 0 0 4px;
                    * {
                        border-radius: $border 0 0 $border;
                        font-weight: bold;
                    }
                }
                .CG-text {
                    border-radius: 0 $border $border 0;
                    font-weight: normal;
                    * {
                        border-radius: 0 $border $border 0;
                        background-color: $white-10;
                        font-weight: normal;
                        padding: 0 0 0 4px;
                    }
                    #episode {
                        width: 96px;
                    }
                    #title {
                        width: 256px;
                    }
                }
                .CG-icon {
                    position: relative;
                    margin: -4px 0 0 0;
                    height: $block;
                    width: $block;
                    border-radius: $border;
                    > .images {
                        background: $transparent;
                        background-image: url( "/ui/lime-icon.png" );
                        height: $block;
                        width: $block;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    > .CG-rotate {
                        animation: circulation 5s linear 0s infinite forwards;
                        animation-play-state: paused;
                        transform-origin: 50% 50%;
                        &.circle {
                            background-position: -64px 0;
                        }
                    }
                    > .CG-static {
                        &.download {
                            background-position: 0 0;
                        }
                        &.move {
                            background-position: -32px 0;
                        }
                        &.category {
                            background-position: -96px 0;
                        }
                        &.includeTitle {
                            background-position: -128px 0;
                        }
                    }
                    &[active] {
                        > .CG-rotate {
                            animation-play-state: running;
                            &.circle {
                                background-position: -64px -32px;
                            }
                        }
                        > .CG-static {
                            &.download {
                                background-position: 0 -32px;;
                            }
                            &.move {
                                background-position: -32px -32px;;
                            }
                            &.category {
                                background-position: -96px -32px;;
                            }
                            &.includeTitle {
                                background-position: -128px -32px;;
                            }
                        }
                        &#saveToLocal {
                            //color: $transparent;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                border-radius: $border;
                                background-color: $skyblue;
                                animation: onWorking 3s ease-out infinite;
                                z-index: 65535;
                            }
                        }
                    }
                }
            }
        }
    }
    >.CG-moveChapter {
        height: $block;
        width: $block;
        overflow: hidden;
        color: $transparent;
        background-repeat: no-repeat;
        background-image: url( "/ui/button.png" );
        background-size: cover;
        &#movePrev {
            transform: rotate( 180deg );
        }
        &#moveNext {
            transform: rotate( 0deg );
        }
    }
}

@keyframes circulation {
    0% { transform: rotate( 0deg ); }
    25% { transform: rotate( 90deg ); }
    50% { transform: rotate( 180deg ); }
    75% { transform: rotate( 270deg ); }
    100% { transform: rotate( 360deg ); }
}

@keyframes notify {
    0% { max-height: 0; }
    25% { max-height: 128px; }
    75% { max-height: 128px; }
    95% { max-height: 0; }
    100% { max-height: 0; }
}

@keyframes onWorking {
    0% { width: $block; height: $block; top: $halfblock; left: $halfblock; border-radius: $halfblock; transform: translate( -50%, -50% ); opacity: 0; }
    25% { width: $block; height: $block; top: $halfblock; left: $halfblock; border-radius: $halfblock; transform: translate( -50%, -50% ); opacity: 1; }
    60% { width: 50%; height: 50%; top: #{$halfblock - 5px}; left: $halfblock; border-radius: $halfblock; transform: translate( -50%, -50% ); }
    95% { opacity: 1; }
    100% { width: 25%; height: 25%; top: #{$halfblock + 5px}; left: $halfblock; border-radius: $halfblock; transform: translate( -50%, -50% ); opacity: 0; }
}